// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
}

.notice{
  margin: 33px;
  color: green;
}

h1{
  margin: 17px 0;
}

td{
  padding: 5px;
}

.body-area{
  margin-top: 10px;
}

.actions{
  margin-top: 10px;
  margin-bottom: 10px;
}

li{
  margin: 10px 0 10px 80px;
}